*{
    padding: 0px;
    margin: 0px;
    background-size: cover;
    box-sizing: border-box;
    background-image: url("p7.jpeg");
}
body{
   
}
h1{
    text-align: center;
    height: 300px;
    color: white;
    text-shadow: 2px 2px cornflowerblue;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    
}